#div-js{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 682px;
    position: absolute;
    top: 0%;
    z-index: 1;
}

#ul-js{
    display: flex;
    background: #3C3A39;
    flex-basis: 100%;
    margin: 0%;
    padding: 0%;
    justify-content:flex-start ;
    list-style:none;
    flex-direction: column;
   
    background: #3C3A39;

}
.list-item-js{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0em;
    
}
.list-item-js a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 3rem;
}

.close-tap{
    align-items: flex-start;
}

.close-tap-img{
    transform: scale(2);
    margin-left: 80%;
    margin-top: 10vh;
}